

:root {
    --font-mono: 'JetBrains Mono', monospace;
    --background-color: #B8D2E6;
    --border-color: #5ca8d8;
    --shadow-color: #5ca8d8AA;
    --code-background-color: #F7F7F7;
}

body {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

@media (max-width: 1080px) {
    body {
        font-size: 40px;
    }
}

.container {
    background: var(--background-color);
    margin: 0 auto;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre,
code {
    font-family: var(--font-mono);
}

code {
    padding: 0 5px;
    font-weight: 400;
    overflow: hidden;
}

pre {
    background-color: var(--code-background-color);
    border: 4px solid var(--border-color);
    box-shadow: 0.33em 0.33em 0 0 var(--shadow-color);
    padding: 1em 2em;
    margin: 0 0;
    line-height: 1.8em;
    font-weight: 300;
    max-width: 80vw;
}
